@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the buttons below:</p>
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <a href="/swagger" class="btn btn-primary ml-2">Swagger</a>
</div>
